<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCsfal5GKJpcs93oB0y-fPuZfe6RDDTWhc</string>
	<key>GCM_SENDER_ID</key>
	<string>1090091910614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.paMobile</string>
	<key>PROJECT_ID</key>
	<string>godoc-reservasidocter</string>
	<key>STORAGE_BUCKET</key>
	<string>godoc-reservasidocter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1090091910614:ios:5bdc9f22dd1a9979f61077</string>
</dict>
</plist>